/* CSS RESET */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
   h1, h2, h3, h4, h5, h6, p, blockquote, pre,
      a, abbr, acronym, address, big, cite, code,
         del, dfn, em, font, img, ins, kbd, q, s, samp,
            small, strike, strong, sub, sup, tt, var,
               b, u, i, center,
                  dl, dt, dd, ol, ul, li,
                     fieldset, form, label, legend,
                        table, caption, tbody, tfoot, thead, tr, th, td {
                           margin: 0;
                           padding: 0;
                           border: 0;
                           outline: 0;
                           font-size: 100%;
                           vertical-align: baseline;
                           background: transparent;
                        }
body {
   line-height: 1;
}
ol, ul {
   list-style: none;
}
blockquote, q {
   quotes: none;
}
blockquote:before, blockquote:after,
   q:before, q:after {
      content: '';
      content: none;
   }

/* remember to define focus styles! */
:focus {
   outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
   text-decoration: none;
}
del {
   text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
   border-collapse: collapse;
   border-spacing: 0;
}

/* GetClojure.org Custom CSS */

/* @group Generic */
body{
   background:#EEE;
   color:#222;
   font:normal normal 14px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
   margin:0 20px;
}
b,strong,.b,.strong{font-weight:bold}
i,em,.i,.em{font-style:italic}
s,strike{text-decoration:line-through}
/* @end */

/* @group Content */
#content{
   width:100%;
}
  /* @group Doc Header */
.docstring{
   overflow:hidden;
   width:100%;
   padding-bottom: 10px;
}
.doc-header{
   background:#EEE;
   border-bottom:1px solid #CCC;
   margin-left:-20px;
   margin-bottom:7px;
   padding-bottom:7px;
   position:fixed;
   width:100%;
   z-index:1000;
}
.doc-header h1{
   font:bold 36px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
   margin-left:20px;
   text-shadow:#CCC 2px 2px 3px;
}
.doc-header i{
   color:#333;
   font-weight:bold;
}
.doc-header h1,.doc-header .arglist{
   float:left;
   margin-left: 20px auto;
}

.doc-header h1{
   margin: 10px;;
}

.doc-header p{
   color:#444;
   font-size:12px;
   margin:3px 0px 3px 20px;
}
.doc-header .arglist{
   width: 35em;
   background:#FFF;
   border:1px solid #DDD;
   margin: 5px auto;
   padding:0px auto 10px auto;
}
  /* @end */

  /* @group Examples */
.examples{
   padding-top:10em;
   position:relative;
}
.example{
   border-bottom:1px solid #DDD;
   padding:10px 0px;
   overflow: hidden;
}
.example:last-child{
   border-bottom:0;
}

.example .left,.example .right{
   float: left;
   width: 50em;
}

.example h1{
   font-size:18px;
   color: #888;
   margin:5px 0px;
   padding: 5px 0 0 0;
}

.example .syntaxhighlighter{
   float:left;
   width: 60%;
}

.example .code,.example .return{
   background:#FFF;
   border:1px solid #DDD;
   margin:2px 5px;
   padding:5px 10px;
}
.example .return{
   display:none;
}
  /* @end */
/* @end */